.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.container{padding: 10px;}
@media (max-width: 576px) {
  .container {
    padding-left: 5px;
    padding-right: 0;
  }
}
